<ion-header>
	<app-toolbar [page]="this">
		<ion-button
			tollbarSelected
			fill="clear"
			(click)="copyToReceipt()"
			fill="clear"
			title="{{'Goods receipt' | translate}}"
			*ngIf="pageConfig.canCopyToReceipt && pageConfig.ShowCopyToReceipt"
		>
			<ion-icon slot="icon-only" name="clipboard-list"></ion-icon>
		</ion-button>
		<ion-button tollbarSelected fill="clear" title="Tạo hóa đơn" *ngIf="pageConfig.ShowCopyToAPInvoice&& pageConfig.canCopyToAPInvoice" (click)="createInvoice()">
			<ion-icon slot="icon-only" name="receipt-outline"></ion-icon>
		</ion-button>
		<ion-button
			tollbarSelected
			*ngIf="selectedItems.length>0 && pageConfig.ShowSubmitOrders && pageConfig.canSubmitOrders"
			fill="clear"
			title="Order submitted"
			(click)="submitOrders()"
		>
			<ion-icon slot="start" name="cart-outline"></ion-icon>
		</ion-button>
		<ion-button
			tollbarSelected
			*ngIf="selectedItems.length>0 &&pageConfig.ShowRequestOutgoingPayment && pageConfig.canRequestOutgoingPayment"
			fill="clear"
			title="Create outgoing payment"
			(click)="presentPopover($event)"
		>
			<ion-icon slot="start" name="money-check"></ion-icon>
		</ion-button>

		<ion-button
			class="clickable"
			title="{{'Add' | translate}}"
			(click)="presentAddNewPopover($event)"
			*ngIf="
		(pageConfig.canAdd && pageConfig.ShowAddNew && selectedItems.length == 0) "
		>
			<!-- && selectedItems?.length  == 1 -->
			<!-- && selectedItems?.length == 1 -->
			<ion-icon name="duplicate-outline" color="success" slot="icon-only"></ion-icon>
		</ion-button>

		<ion-popover #addNewPopover [isOpen]="isOpenAddNewPopover" (didDismiss)="isOpenAddNewPopover = false">
			<ng-template>
				<ion-content scroll-y="false">
					<ion-list lines="none">
						<ion-item [button]="true" [detail]="false" (click)="addNewPopover.dismiss(); add() " title="{{'Add' | translate}}">
							<!-- && selectedItems?.length  == 1 -->
							<ion-icon name="add" color="success" slot="start"></ion-icon>
							<ion-label> {{'Add ' | translate}}</ion-label>
						</ion-item>

						<ion-item
							[button]="true"
							[detail]="false"
							(click)="openPurchaseQuotationPopover() ; isOpenAddNewPopover = false"
							title="{{'CopyFromPurchaseQuotation' | translate}}"
						>
							<!-- && selectedItems?.length  == 1 -->
							<ion-icon name="quotation" color="success" slot="start"></ion-icon>
							<ion-label> {{'Copy from purchase quotation' | translate}}</ion-label>
						</ion-item>

						<ion-item
							[button]="true"
							[detail]="false"
							(click)="openPurchaseRequestPopover() ; isOpenAddNewPopover = false"
							title="{{'CopyFromPurchaseRequest' | translate}}"
						>
							<!-- && selectedItems?.length  == 1 -->
							<ion-icon name="clipboard-list" color="success" slot="start"></ion-icon>
							<ion-label> {{'Copy from purchase request' | translate}}</ion-label>
						</ion-item>
					</ion-list>
				</ion-content>
			</ng-template>
		</ion-popover>
	</app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="header-table" scroll-x="true">
	<app-page-title class="ion-padding safe-max-width" [pageConfig]="pageConfig"></app-page-title>

	<div class="safe-max-width">
		<app-data-table
			class="box-shadow responsive"
			[rows]="items"
			[trackBy]="'Id'"
			[(selectedRows)]="selectedItems"
			[showSpinner]="pageConfig.showSpinner"
			[showFilter]="pageConfig.isShowSearch"
			[(query)]="query"
			(dataInfinite)="loadData($event)"
			(filter)="onDatatableFilter($event)"
			(sort)="onSort($event)"
			(selectedRowsChange)="showCommandBySelectedRows($event)"
		>
			<datatable-column [checkbox]="true" name=""></datatable-column>
			<datatable-column class="col-id" name="#" property="Id" [navLink]="pageConfig.pageName"></datatable-column>
			<datatable-column class="col-date" format="yyyy-MM-dd" name="Order date" property="OrderDate" filterControlType="time-frame"></datatable-column>
			<datatable-column class="col-date" format="yyyy-MM-dd" name="Expected receipt date" property="ExpectedReceiptDate" filterControlType="date"></datatable-column>
			<datatable-column class="col-name flex-break" name="Vendor" property="VendorName"></datatable-column>
			<datatable-column class="col-name flex-break" name="Goods owner" property="StorerName"></datatable-column>
			<datatable-column class="col-number bold" format="1.0-0" name="Total" property="TotalAfterTax"></datatable-column>
			<datatable-column class="col-status" name="Status" property="Status" filterControlType="ng-select-status" [filterDataSource]="statusList">
				<ng-template let-i="row" datatable-cell-template>
					<ion-badge [color]="i.StatusColor" [title]="i.StatusText"> {{i.StatusText | translate}} </ion-badge>
				</ng-template>
			</datatable-column>
		</app-data-table>
	</div>

	<ion-infinite-scroll color="primary" threshold="20%" (ionInfinite)="loadData($event)" [disabled]="!pageConfig.infiniteScroll || pageConfig.isEndOfData">
		<ion-infinite-scroll-content loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>

	<ion-popover class="w300" #popover [isOpen]="isOpenPopover" (didDismiss)="dismissPopover()">
		<ng-template>
			<ion-content appScrollbarTheme>
				<ion-grid>
					<form [formGroup]="formGroup" (submit)="dismissPopover(true)">
						<ion-row>
							<ion-col size="12" size-sm size-xl="12">
								<app-form-control
									[field]="{ id: 'PaymentReason', type: 'ng-select', label: 'Reason', dataSource: paymentReasonList, bindValue: 'Code', bindLabel: 'Name', form: formGroup }"
								></app-form-control>
								<app-form-control
									[field]="{ id: 'PaymentType', type: 'ng-select', label: 'Type', dataSource: paymentTypeList, bindValue: 'Code', bindLabel: 'Name', form: formGroup }"
								></app-form-control>
								<app-form-control
									[field]="{ id: 'PaymentSubType', type: 'ng-select', label: 'Sub type', dataSource: paymentSubTypeList, bindValue: 'Code', bindLabel: 'Name', form: formGroup }"
								></app-form-control>
							</ion-col>
						</ion-row>
					</form>
				</ion-grid>
			</ion-content>
			<ion-button class="ion-margin" size="small" expand="block" (click)="dismissPopover(true)">Apply</ion-button>
		</ng-template>
	</ion-popover>
</ion-content>
