<ion-header>
	<app-toolbar [page]="this">
		<ion-button *ngIf="pageConfig.ShowSubmitOrders && pageConfig.canSubmitOrders" fill="clear" title="Order submitted" (click)="submitOrders()">
			<ion-icon slot="start" name="cart-outline"></ion-icon>
		</ion-button>
		<ion-button title="{{'Copy to A/P invoice' | translate}}" *ngIf="pageConfig.canCopyToAPInvoice" (click)="createInvoice()">
			<ion-icon slot="icon-only" name="receipt-outline"></ion-icon>
		</ion-button>
		<ion-button (click)="copyToReceipt()" title="{{'Copy to goods receipt' | translate}}" *ngIf="pageConfig.canCopyToReceipt && pageConfig.ShowCopyToReceipt">
			<ion-icon slot="icon-only" name="clipboard-list"></ion-icon>
		</ion-button>
		<ion-button (click)="importClick()" *ngIf="formGroup.controls.Status.value=='Draft' && pageConfig.canEdit" title="{{'Import product' | translate}}">
			<ion-icon slot="icon-only" name="cloud-upload-outline"></ion-icon>
		</ion-button>
		<ion-button
			*ngIf="pageConfig.ShowRequestOutgoingPayment && pageConfig.canRequestOutgoingPayment"
			title="{{'Create outgoing payment' | translate}}"
			(click)="presentPopover()"
		>
			<ion-icon color="success" name="money-check"></ion-icon>
		</ion-button>
	</app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
	<div id="order-detail-page" style="position: absolute"></div>
	<div class="main-view safe-max-width" *ngIf="item && pageConfig.showSpinner==false">
		<ion-grid fixed>
			<form [formGroup]="formGroup">
				<ion-row class="hr-group">
					<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
						<ion-list-header class="ion-no-padding">
							<ion-label color="primary">{{'Purchase order' | translate}}</ion-label>
						</ion-list-header>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<!-- <div class="c-control" *ngIf="item.Id">
                            <label class="c-label" for="Id"># Id</label>
                            <input class="c-input" id="Id" formControlName="Id" type="number">
                        </div> -->
						<app-form-control
							(change)="saveOrder()"
							[field]="{id: 'IDStorer', label: 'Goods owner', type: 'ng-select', dataSource: storerList , bindLabel: 'Name', bindValue: 'Id', placeholder: 'Search', form: formGroup}"
						>
						</app-form-control>

						<app-form-control
							(change)="changeVendor()"
							[field]="{id: 'IDVendor', label: 'Vendor', type: 'ng-select-bp', dataSource: _vendorDataSource , bindLabel: 'Name', bindValue: 'Id', placeholder: 'Search', form: formGroup}"
						>
						</app-form-control>

						<app-form-control
							(change)="saveOrder()"
							[field]="{branchConfig: {showingType: 'Warehouse', selectedBranch: this.env.selectedBranch}, id: 'IDBranch', label: 'Warehouse', type: 'ng-select-branch', dataSource: branchList, bindLabel: 'Name', bindValue: 'Id', placeholder: 'Search', form: formGroup}"
						>
						</app-form-control>
					</ion-col>
					<ion-col size="12" size-sm size-xl="4">
						<app-form-control (change)="saveOrder()" [field]="{id: 'Code', label: 'PO code (Vendors)', type: 'text', form: formGroup}">
							<small label *ngIf="item.Id">{{'Id' | translate}}: {{item.Id}}</small>
						</app-form-control>

						<app-form-control (change)="saveOrder()" [field]="{id: 'ExpectedReceiptDate', label: 'Expected receipt date', type: 'datetime-local', form: formGroup}">
						</app-form-control>

						<div class="c-control">
							<label class="c-label" for="TotalAfterTax"
								>{{'Value' | translate}}
								<span
									*ngIf="!formGroup.controls.TotalAfterTax.valid && !formGroup.controls.TotalAfterTax.pending && (formGroup.controls.TotalAfterTax.dirty || submitAttempt)"
									ion-text
									color="danger"
									>(*)</span
								>
							</label>
							<span class="c-input disable">
								<b>{{calcTotalAfterTax() | number: '1.0-0'}}</b>
							</span>
						</div>
					</ion-col>
				</ion-row>
			</form>
		</ion-grid>

		<div class="row-full shadow full-screen">
			<ion-toolbar color="primary">
				<ion-segment scrollable="true" (ionChange)="segmentChanged($event)" [value]="segmentView">
					<ion-segment-button value="s1">
						<ion-label>{{'Product list' | translate}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s2">
						<ion-label>{{'Other information' | translate}}</ion-label>
					</ion-segment-button>
					<ion-segment-button value="s3">
						<ion-label>{{'Payment history' | translate}}</ion-label>
					</ion-segment-button>
				</ion-segment>
			</ion-toolbar>
			<div *ngIf="segmentView == 's1'">
				<form [formGroup]="formGroup">
					<ng-container formArrayName="OrderLines">
						<div class="table-contain">
							<app-data-table [rows]="formGroup.get('OrderLines')['controls']" [showSpinner]="pageConfig.showSpinner">
								<datatable-empty-message subMessage="Please click add new to start...">
									<ng-template datatable-empty-message-template>
										<div>
											<ion-button size="small" (click)="addLine({}, true)">
												<ion-icon slot="start" name="add-circle-outline"></ion-icon>
												{{ 'Add product' | translate }}
											</ion-button>
										</div>
									</ng-template>
								</datatable-empty-message>

								<datatable-column class="col-id" name="No." property="#"></datatable-column>

								<datatable-column class="col-name item-name" name="Product" property="value">
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control
											[field]="{id: 'IDItem', label: 'Item', type : 'ng-select-item', form : g,  dataSource: g.controls._IDItemDataSource.value,  bindLabel: 'Name',  bindValue: 'Id', clearable: true,  placeholder: 'Type to search...'}"
											(change)="IDItemChange($event, g)"
										></app-input-control>
									</ng-template>
								</datatable-column>

								<datatable-column class="col-code" name="Unit" property="value">
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control
											[field]="{id: 'IDUoM', type : 'ng-select', form : g,  dataSource: g.controls._IDUoMDataSource.value,  bindLabel: 'Name',  bindValue: 'Id' }"
											(change)="IDUoMChange(g)"
										></app-input-control>
									</ng-template>
								</datatable-column>

								<datatable-column
									*ngIf="pageConfig.POShowSuggestedQuantity && item.Type == 'FromPurchaseSuggestion'"
									class="col-date"
									name="Đề nghị"
									property="value"
								>
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control (change)="saveOrder()" [field]="{id: 'SuggestedQuantity', type : 'number', form : g, }"></app-input-control>
									</ng-template>
								</datatable-column>

								<datatable-column class="col-qty text-right" name="SL đặt" property="value">
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control (change)="saveOrder()" [field]="{ id: 'UoMQuantityExpected', type: 'number', form: g }"></app-input-control>
									</ng-template>
								</datatable-column>

								<datatable-column *ngIf="pageConfig.POShowAdjustedQuantity" class="col-qty" name="SL đ.chỉnh" property="value">
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control (change)="saveOrder()" [field]="{ id: 'QuantityAdjusted', type: 'number', form: g }"></app-input-control>
									</ng-template>
								</datatable-column>

								<datatable-column class="col-discount" name="Discount" property="value">
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control (change)="saveOrder()" [field]="{ id: 'TotalDiscount', type: 'number', form: g }"></app-input-control>
									</ng-template>
								</datatable-column>

								<datatable-column [checkbox]="true" name="Promotion goods" property="value">
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control (change)="saveOrder()" [field]="{ id: 'IsPromotionItem', type: 'checkbox', form: g }"> </app-input-control>
									</ng-template>
								</datatable-column>

								<datatable-column class="col-money" name="Unit price" property="value">
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control (change)="saveOrder()" [field]="{id: 'UoMPrice', type: 'number', form: g}"> </app-input-control>
									</ng-template>
								</datatable-column>

								<datatable-column class="col-number" name="VAT" property="value">
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control [field]="{ id: 'TaxRate', type: 'number', form: g }"></app-input-control>
									</ng-template>
								</datatable-column>

								<datatable-column class="col-number" name="Total after tax" property="value">
									<ng-template let-g="row" datatable-cell-template>
										<span class="c-input disable"
											>{{(g.controls.IsPromotionItem.value? 0 : (((g.controls.UoMQuantityExpected.value + g.controls.QuantityAdjusted.value) *
											g.controls.UoMPrice.value - g.controls.TotalDiscount.value)) * ((1+g.controls.TaxRate.value/100))) | number: '1.0-0'}}</span
										>
									</ng-template>
								</datatable-column>

								<datatable-column class="col-remark" name="Remark" property="value">
									<ng-template let-g="row" datatable-cell-template>
										<app-input-control (change)="saveOrder()" [field]="{id: 'Remark', type: 'text', form: g}"> </app-input-control>
									</ng-template>
								</datatable-column>

								<datatable-column class="col-icon" name="" property="value" *ngIf="_canEdit">
									<ng-template let-idx="idx" datatable-cell-template>
										<ion-icon color="danger" class="min-btn clickable" name="trash-outline" (click)="removeLine(idx)"></ion-icon>
									</ng-template>
								</datatable-column>
							</app-data-table>
						</div>
					</ng-container>
				</form>
				<div class="table-contain">
					<div class="row" *ngIf="pageConfig.canEdit">
						<div class="cell">
							<ion-button fill="clear" size="small" (click)="addNewLine()">
								<ion-icon slot="start" name="add-circle-outline"></ion-icon>
								{{'Add product' | translate}}
							</ion-button>

							<ion-button fill="clear" size="small" (click)="showSaleOrderPickerModal()">
								<ion-icon slot="start" name="git-pull-request-outline"></ion-icon>
								{{'Add items from SO' | translate}}
							</ion-button>
						</div>
					</div>
					<div class="row" *ngIf="vendorView">
						<ion-buttons class="ion-justify-content-end" slot="end">
							<ion-button
								style="margin-right: 0"
								*ngIf="formGroup.get('Status').value == 'Ordered'"
								fill="solid"
								expand="block"
								size="small"
								(click)="confirmOrder()"
							>
								{{'Confirm order' | translate}}
							</ion-button>
							<ion-button style="margin-right: 0" fill="solid" expand="block" size="small" (click)="print()">
								<ion-icon slot="icon-only" name="print"></ion-icon>
							</ion-button>
						</ion-buttons>
					</div>
				</div>
			</div>
			<div *ngIf="segmentView == 's2'">
				<div class="ion-padding">
					<ion-grid fixed>
						<form [formGroup]="formGroup">
							<ion-row class="hr-group">
								<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
									<ion-list-header class="ion-no-padding">
										<ion-label color="primary">{{'Order information' | translate}}</ion-label>
									</ion-list-header>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<div class="c-control">
										<label class="c-label" for="Code">{{'PO Code (from Vendor)' | translate}}</label>
										<input class="c-input" (change)="saveOrder();" id="Code" formControlName="Code" type="text" />
									</div>
									<div class="c-control">
										<label class="c-label" for="Name">{{'Name' | translate}}</label>
										<input class="c-input" (change)="saveOrder();" id="Name" formControlName="Name" type="text" />
									</div>
									<div class="c-control">
										<label class="c-label" for="Status"
											>{{'Status' | translate}}
											<span
												*ngIf="!formGroup.controls.Status.valid && !formGroup.controls.Status.pending && (formGroup.controls.Status.dirty || submitAttempt)"
												ion-text
												color="danger"
												>(*)</span
											>
										</label>
										<select (change)="saveOrder();" class="c-input c-dropdown" formControlName="Status">
											<option *ngFor="let i of statusList" [value]="i.Code">{{i.Name}}</option>
										</select>
									</div>
									<app-form-control
										[field]="{ id: 'PaymentStatus', type: 'ng-select', label: 'Payment status', dataSource: paymentStatusList, bindValue: 'Code', bindLabel: 'Name', form: formGroup }"
									></app-form-control>

									<app-form-control
										*ngIf="formGroup.get('SourceType').value && formGroup.get('SourceKey').value "
										[field]="{id: 'SourceKey', type : 'text', label: 
                   item.SourceType == 'FromPurchaseRequest'?'Purchase request' : 
                   item.SourceType =='FromPurchaseQuotation'?'Purchase quotation' : 'Source'
                  , form : formGroup}"
									>
										<small label class="danger" *ngIf="formGroup.get('SourceType').value">
											<a
												[ngClass]="{ 'no-check-dirty': noCheckDirty }"
												class="clickable"
												(click)="nav(
                      (item.SourceType == 'FromPurchaseRequest'?'/purchase-request/': 
                      item.SourceType =='FromPurchaseQuotation'?'/purchase-quotation/': item.SourceType)
                      + formGroup.get('SourceKey').value)"
												(mousedown)="$event.stopPropagation()"
												>#{{formGroup.get('SourceKey').value }} <ion-icon name="open-outline"></ion-icon
											></a>
										</small>
									</app-form-control>
								</ion-col>
								<ion-col size="12" size-sm size-xl="4">
									<div class="c-control">
										<label class="c-label" for="OrderDate"
											>{{'Order created date' | translate}}
											<span
												*ngIf="!formGroup.controls.OrderDate.valid && !formGroup.controls.OrderDate.pending && (formGroup.controls.OrderDate.dirty || submitAttempt)"
												ion-text
												color="danger"
												>(*)</span
											>
										</label>
										<input class="c-input" (change)="saveOrder();" id="OrderDate" formControlName="OrderDate" type="datetime-local" />
									</div>
									<div class="c-control">
										<label class="c-label" for="ExpectedReceiptDate"
											>{{'Expected receipt date' | translate}}
											<span
												*ngIf="!formGroup.controls.ExpectedReceiptDate.valid && !formGroup.controls.ExpectedReceiptDate.pending && (formGroup.controls.ExpectedReceiptDate.dirty || submitAttempt)"
												ion-text
												color="danger"
												>(*)</span
											>
										</label>
										<input (change)="saveOrder();" formControlName="ExpectedReceiptDate" class="c-input" id="ExpectedReceiptDate" type="datetime-local" />
									</div>
									<div class="c-control">
										<label class="c-label" for="ReceiptedDate"
											>{{'Receipt date' | translate}}
											<span
												*ngIf="!formGroup.controls.ReceiptedDate.valid && !formGroup.controls.ReceiptedDate.pending && (formGroup.controls.ReceiptedDate.dirty || submitAttempt)"
												ion-text
												color="danger"
												>(*)</span
											>
										</label>
										<input (change)="saveOrder();" formControlName="ReceiptedDate" class="c-input" id="ReceiptedDate" type="datetime-local" />
									</div>
									<div class="c-control">
										<label class="c-label">{{'Remark' | translate}}</label>
										<textarea (change)="saveOrder();" class="c-input" id="Remark" formControlName="Remark" type="textarea"></textarea>
									</div>
								</ion-col>
							</ion-row>
						</form>
					</ion-grid>
				</div>
			</div>
			<div class="table responsive" *ngIf="segmentView == 's3'">
				<app-data-table
					class="box-shadow responsive"
					*ngIf="paymentDetailList"
					[rows]="paymentDetailList"
					[(selectedRows)]="selectedItems"
					[showSpinner]="showSpinnerPayment"
				>
					<!-- <datatable-column [checkbox]="true"></datatable-column> -->
					<datatable-column class="col-id" name="Id" property="Id">
						<ng-template let-i="row" datatable-cell-template>
							<a [routerLink]="['/outgoing-payment/'+i.Id]">{{i.Id}}</a>
						</ng-template>
					</datatable-column>
					<!-- <datatable-column class="col-name" name="Warehouse" property="WarehouseName">
            <ng-template let-i="row" datatable-cell-template>
              {{i.WarehouseName}}
              <small class="address" *ngIf="i.WarehouseCode">
                <ion-text color="dark">{{i.WarehouseCode}}</ion-text>
              </small>
            </ng-template>
          </datatable-column>
          -->
					<datatable-column class="col-code" filterControlType="text" name="Type" property="Type"> </datatable-column>
					<datatable-column class="col-number" filterControlType="number" name="Amount" property="Amount"> </datatable-column>
					<datatable-column class="col-date" filterControlType="date" name="Posting date" property="PostingDate">
						<ng-template let-i="row" datatable-cell-template> {{i.PostingDate | date: 'dd/MM/yyyy HH: mm'}} </ng-template>
					</datatable-column>
					<datatable-column class="col-date" filterControlType="date" name="Document date" property="DocumentDate">
						<ng-template let-i="row" datatable-cell-template> {{i.DocumentDate | date: 'dd/MM/yyyy HH: mm'}} </ng-template>
					</datatable-column>
					<datatable-column class="col-date" filterControlType="date" name="Due date" property="DueDate">
						<ng-template let-i="row" datatable-cell-template> {{i.DueDate | date: 'dd/MM/yyyy HH: mm'}} </ng-template>
					</datatable-column>
					<!-- <datatable-column class="col-date" filterControlType="date" name="Picked date" property="PickedDate">
            <ng-template let-i="row" datatable-cell-template>
              {{i.PickedDate | date: 'dd/MM/yyyy HH: mm'}}
              </ng-template>
          </datatable-column> -->

					<datatable-column class="col-status" name="Status" property="Status">
						<ng-template let-i="row" datatable-cell-template>
							<ion-badge [color]="i._Status?.Color" [title]="i._Status?.Name"> {{i._Status?.Name}} </ion-badge>
						</ng-template>
					</datatable-column>
				</app-data-table>
			</div>
		</div>
	</div>
	<app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
	<input class="hide-all" #importfile type="file" accept=".xlsx" (change)="uploadOrderLine($event)" />
	<ion-popover class="w300" #popover [isOpen]="isOpenPopover" (didDismiss)="dismissPopover()">
		<ng-template>
			<ion-content appScrollbarTheme>
				<ion-grid>
					<form [formGroup]="paymentFormGroup" (submit)="dismissPopover(true)">
						<ion-row>
							<ion-col size="12" size-sm size-xl="12">
								<app-form-control
									[field]="{ id: 'PaymentReason', type: 'ng-select', label: 'Reason', dataSource: paymentReasonList, bindValue: 'Code', bindLabel: 'Name', form: paymentFormGroup }"
								></app-form-control>
								<app-form-control
									[field]="{ id: 'PaymentType', type: 'ng-select', label: 'Type', dataSource: paymentTypeList, bindValue: 'Code', bindLabel: 'Name', form: paymentFormGroup }"
								></app-form-control>
								<app-form-control
									[field]="{ id: 'PaymentSubType', type: 'ng-select', label: 'Sub type', dataSource: paymentSubTypeList, bindValue: 'Code', bindLabel: 'Name', form: paymentFormGroup }"
								></app-form-control>
							</ion-col>
						</ion-row>
					</form>
				</ion-grid>
			</ion-content>
			<ion-button class="ion-margin" size="small" expand="block" (click)="dismissPopover(true)">Apply</ion-button>
		</ng-template>
	</ion-popover>

	<ion-modal [isOpen]="isShowReceiptModal" (willDismiss)="onDismissReceiptModal(); ">
		<ng-template>
			<ion-header>
				<ion-toolbar>
					<ion-title>{{'Confirm modal' | translate}}</ion-title>
					<ion-buttons slot="primary">
						<ion-button title="{{'Close' | translate}}" color="secondary" (click)="isShowReceiptModal= false">
							<ion-icon slot="icon-only" name="close"></ion-icon>
						</ion-button>
					</ion-buttons>
				</ion-toolbar>
			</ion-header>
			<ion-content appScrollbarTheme class="scrollx">
				<ion-grid>
					<ion-row>
						<ion-col size="12" size-sm size-xl="6">
							<app-form-control [field]="{id: 'Code', label: 'PO code (Vendors)', type: 'text', form: receiptFormGroup}"> </app-form-control>

							<app-form-control
								[field]="{id: 'ExpectedReceiptDate', label: 'Expected receipt date', type: 'datetime-local', form: receiptFormGroup}"
							></app-form-control>
						</ion-col>
						<ion-col size="12" size-sm size-xl="6">
							<app-form-control
								[field]="{ id: 'IDCarrier', type: 'ng-select', label: 'Carrier', dataSource: carrierList, bindValue: 'Id', bindLabel: 'Name', form: receiptFormGroup }"
							></app-form-control>
							<app-form-control [field]="{ id: 'VehicleNumber', type: 'text', label: 'Vehicle number', form: receiptFormGroup }"></app-form-control>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-content>
			<ion-footer>
				<div class="ion-padding">
					<ion-button color="primary" (click)="onDismissReceiptModal(true)" expand="block">{{'Confirm' | translate}}</ion-button>
				</div>
			</ion-footer>
		</ng-template>
	</ion-modal>
</ion-content>
